In [194]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier

# Leitura de Datasets e Pré-processamento

In [195]:
ResulttesteGossipMaq1234 = pd.read_csv(r"D:\HCS\Codigos em R\Gossip\Ensemble\No Metadata\GossipMaq123.csv",sep=';')

In [196]:
ResulttesteGossipMaq1234

         id  idOriginal rotulo classificacao class_mac1 class_mac2 class_mac3
0         2      853130   Real          fake       fake       fake       fake
1         5      853862   Real          real       real       fake       fake
2        10      883038   Real          fake       fake       fake       fake
3        11      843877   Real          real       real       fake       fake
4        14      954723   Real          fake       fake       fake       fake
...     ...         ...    ...           ...        ...        ...        ...
4976   9995  7855996289   Fake          fake       fake       fake       fake
4977   9996  9193321517   Fake          fake       fake       fake       fake
4978   9998  2332731598   Fake          fake       fake       fake       fake
4979   9999   157100313   Fake          fake       fake       fake       fake
4980  10000  1619644929   Fake          fake       fake       fake       fake

[4981 rows x 7 columns]

In [197]:
ResulttesteGossipMaq1234['rotulo'].replace(['Fake', 'Real'],[0, 1], inplace=True)
ResulttesteGossipMaq1234['class_mac1'].replace(['fake', 'real'],[0, 1], inplace=True)
ResulttesteGossipMaq1234['class_mac2'].replace(['fake', 'real'],[0, 1], inplace=True)
ResulttesteGossipMaq1234['class_mac3'].replace(['fake', 'real'],[0, 1], inplace=True)

In [198]:
ResulttesteGossipMaq1234['vote'] = round(ResulttesteGossipMaq1234[['class_mac1','class_mac2','class_mac3']].mean(numeric_only=True, axis=1))
ResulttesteGossipMaq1234['vote'].replace(['0.0', '1.0'],[0, 1], inplace=True)

In [199]:
ResulttesteGossipMaq1234

,id,idOriginal,rotulo,classificacao,class_mac1,class_mac2,class_mac3,vote
0,2,853130,1,fake,0,0,0,0.0
1,5,853862,1,real,1,0,0,0.0
2,10,883038,1,fake,0,0,0,0.0
3,11,843877,1,real,1,0,0,0.0
4,14,954723,1,fake,0,0,0,0.0
...,...,...,...,...,...,...,...,...
4976,9995,7855996289,0,fake,0,0,0,0.0
4977,9996,9193321517,0,fake,0,0,0,0.0
4978,9998,2332731598,0,fake,0,0,0,0.0
4979,9999,157100313,0,fake,0,0,0,0.0
4980,10000,1619644929,0,fake,0,0,0,0.0

# Dataset Split

In [200]:
x = ResulttesteGossipMaq1234[['class_mac1','class_mac2','class_mac3']]
y = ResulttesteGossipMaq1234['rotulo']

In [201]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = .4, random_state=500, shuffle=True)
x_train.head(10)

      class_mac1  class_mac2  class_mac3
2560           0           0           0
3492           0           0           0
4936           0           0           0
1760           1           1           1
1480           1           1           1
3744           0           0           0
3942           0           0           0
1708           1           1           1
2836           1           1           1
4097           0           0           0

# KNN Ensemble

**10-Fold Cross Validation**

In [202]:
knn = KNeighborsClassifier()
scores = cross_val_score(knn, x, y, cv=10)
print("Acurácia dos Folds: \n", scores,"\n")
print("Acurácia Média: ", scores.mean(),"\n")
print("Desvio Padrão: ", scores.std(),"\n")
print("Número de Folds: ", len(scores))

Acurácia dos Folds:
 [0.80561122 0.5060241  0.5060241  0.5060241  0.5060241  0.5060241
 0.5060241  0.5060241  0.50401606 0.50401606]

Acurácia Média:  0.5355812025657741

Desvio Padrão:  0.09001349078280581

Número de Folds:  10

**BAGGING**

In [62]:
bag = BaggingClassifier(KNeighborsClassifier())
scores = cross_val_score(bag, x, y, cv=10)
print("Acurácia dos Folds: \n", scores,"\n")
print("Acurácia Média: ", scores.mean(),"\n")
print("Desvio Padrão: ", scores.std(),"\n")
print("Número de Folds: ", len(scores))

Acurácia dos Folds:
 [0.80561122 0.54216867 0.95180723 0.9939759  1.         1.
 1.         1.         0.99799197 1.        ]

Acurácia Média:  0.929155499754529

Desvio Padrão:  0.14126922956935858

Número de Folds:  10

# Decision Tree Ensemble

**10-Fold Cross Validation**

In [67]:
scores = cross_val_score(DT, x, y, cv=10)
print("Acurácia dos Folds: \n", scores,"\n")
print("Acurácia Média: ", scores.mean(),"\n")
print("Desvio Padrão: ", scores.std(),"\n")
print("Número de Folds: ", len(scores))

Acurácia dos Folds:
 [0.78557114 0.54216867 0.95180723 0.9939759  0.9939759  0.99598394
 1.         0.99598394 0.99799197 0.99799197]

Acurácia Média:  0.9255450660356856

Desvio Padrão:  0.14233387865209804

Número de Folds:  10

**BAGGING**

In [108]:
bag = BaggingClassifier(DecisionTreeClassifier())
scores = cross_val_score(bag, x, y, cv=10)
print("Acurácia dos Folds: \n", scores,"\n")
print("Acurácia Média: ", scores.mean(),"\n")
print("Desvio Padrão: ", scores.std(),"\n")
print("Número de Folds: ", len(scores))

Acurácia dos Folds:
 [0.78557114 0.54216867 0.95180723 1.         0.9939759  1.
 1.         0.99598394 1.         0.99799197]

Acurácia Média:  0.9267498853127943

Desvio Padrão:  0.14293790900895031

Número de Folds:  10

# Naive Bayes

In [120]:
gnb = GaussianNB()
scores = cross_val_score(gnb, x, y, cv=10)
print("Acurácia dos Folds: \n", scores,"\n")
print("Acurácia Média: ", scores.mean(),"\n")
print("Desvio Padrão: ", scores.std(),"\n")
print("Número de Folds: ", len(scores))

Acurácia dos Folds:
 [0.78957916 0.54216867 0.95783133 0.9939759  0.9939759  0.99598394
 1.         0.99598394 0.99799197 0.99799197]

Acurácia Média:  0.9265482772774465

Desvio Padrão:  0.1420654764055483

Número de Folds:  10

**BAGGING**

In [121]:
bag = BaggingClassifier(GaussianNB())
scores = cross_val_score(bag, x, y, cv=10)
print("Acurácia dos Folds: \n", scores,"\n")
print("Acurácia Média: ", scores.mean(),"\n")
print("Desvio Padrão: ", scores.std(),"\n")
print("Número de Folds: ", len(scores))

Acurácia dos Folds:
 [0.78957916 0.54216867 0.95783133 0.9939759  0.9939759  0.99598394
 1.         0.99598394 0.99799197 0.99799197]

Acurácia Média:  0.9265482772774465

Desvio Padrão:  0.1420654764055483

Número de Folds:  10

# SVM

In [129]:
clf = svm.SVC()
scores = cross_val_score(clf, x, y, cv=10)
print("Acurácia dos Folds: \n", scores,"\n")
print("Acurácia Média: ", scores.mean(),"\n")
print("Desvio Padrão: ", scores.std(),"\n")
print("Número de Folds: ", len(scores))

Acurácia dos Folds:
 [0.78557114 0.54216867 0.95180723 0.9939759  0.9939759  0.99598394
 1.         0.99598394 0.99799197 0.99799197]

Acurácia Média:  0.9255450660356856

Desvio Padrão:  0.14233387865209804

Número de Folds:  10

**BAGGING**

In [137]:
bag = BaggingClassifier(svm.SVC())
scores = cross_val_score(bag, x, y, cv=10)
print("Acurácia dos Folds: \n", scores,"\n")
print("Acurácia Média: ", scores.mean(),"\n")
print("Desvio Padrão: ", scores.std(),"\n")
print("Número de Folds: ", len(scores))

Acurácia dos Folds:
 [0.78557114 0.54216867 0.95180723 1.         0.9939759  0.99598394
 1.         0.99598394 0.99799197 0.99799197]

Acurácia Média:  0.9261474756742398

Desvio Padrão:  0.14263465876415646

Número de Folds:  10

# MLP

In [31]:
mlp = MLPClassifier()
scores = cross_val_score(mlp, x, y, cv=10)
print("Acurácia dos Folds: \n", scores,"\n")
print("Acurácia Média: ", scores.mean(),"\n")
print("Desvio Padrão: ", scores.std(),"\n")
print("Número de Folds: ", len(scores))

Acurácia dos Folds:
 [0.78557114 0.54216867 0.95381526 0.9939759  0.9939759  0.99598394
 1.         0.99598394 0.99799197 1.        ]

Acurácia Média:  0.9259466724613887

Desvio Padrão:  0.14247533245337524

Número de Folds:  10

**BAGGING**

In [138]:
bag = BaggingClassifier(MLPClassifier())
scores = cross_val_score(bag, x, y, cv=10)
print("Acurácia dos Folds: \n", scores,"\n")
print("Acurácia Média: ", scores.mean(),"\n")
print("Desvio Padrão: ", scores.std(),"\n")
print("Número de Folds: ", len(scores))

Acurácia dos Folds:
 [0.78557114 0.54216867 0.95381526 0.9939759  0.9939759  1.
 1.         1.         0.99799197 1.        ]

Acurácia Média:  0.9267498853127943

Desvio Padrão:  0.14287865698251978

Número de Folds:  10

# Logistic Regression

In [80]:
LogReg = LogisticRegression()
scores = cross_val_score(LogReg, x, y, cv=10)
print("Acurácia dos Folds: \n", scores,"\n")
print("Acurácia Média: ", scores.mean(),"\n")
print("Desvio Padrão: ", scores.std(),"\n")
print("Número de Folds: ", len(scores))

Acurácia dos Folds:
 [0.78557114 0.54216867 0.95381526 0.9939759  0.9939759  0.99598394
 1.         0.99598394 0.99799197 1.        ]

Acurácia Média:  0.9259466724613887

Desvio Padrão:  0.14247533245337524

Número de Folds:  10

**BAGGING**

In [160]:
bag = BaggingClassifier(LogisticRegression())
scores = cross_val_score(bag, x, y, cv=10)
print("Acurácia dos Folds: \n", scores,"\n")
print("Acurácia Média: ", scores.mean(),"\n")
print("Desvio Padrão: ", scores.std(),"\n")
print("Número de Folds: ", len(scores))

Acurácia dos Folds:
 [0.78557114 0.54216867 0.95381526 1.         0.9939759  0.99598394
 1.         0.99598394 0.99799197 1.        ]

Acurácia Média:  0.9265490820999428

Desvio Padrão:  0.14277412007487034

Número de Folds:  10

# Random Forest

In [203]:
rf = RandomForestClassifier()
scores = cross_val_score(rf, x, y, cv=10)
print("Acurácia dos Folds: \n", scores,"\n")
print("Average CV Score: ", scores.mean(),"\n")
print("Desvio Padrão: ", scores.std(),"\n")
print("Number of CV Scores used in Average: ", len(scores))

Acurácia dos Folds:
 [0.78557114 0.54216867 0.95180723 0.9939759  0.9939759  1.
 1.         0.99598394 0.99799197 0.99799197]

Average CV Score:  0.9259466724613887

Desvio Padrão:  0.14253758103401373

Number of CV Scores used in Average:  10

**BAGGING**

In [168]:
bag = BaggingClassifier(RandomForestClassifier())
scores = cross_val_score(bag, x, y, cv=10)
print("Acurácia dos Folds: \n", scores,"\n")
print("Acurácia Média: ", scores.mean(),"\n")
print("Desvio Padrão: ", scores.std(),"\n")
print("Número de Folds: ", len(scores))

Acurácia dos Folds:
 [0.78557114 0.54216867 0.95180723 1.         0.9939759  0.99598394
 1.         0.99598394 1.         1.        ]

Acurácia Média:  0.9265490820999428

Desvio Padrão:  0.14283906136308638

Número de Folds:  10

# Vote Classifier Ensemble

In [206]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier

clf1 = BaggingClassifier(KNeighborsClassifier())
clf2 = BaggingClassifier(LogisticRegression())
clf3 = BaggingClassifier(DecisionTreeClassifier())
eclf = VotingClassifier(estimators=[('BG KNN', clf1), ('BG LF', clf2), ('BG DT', clf3)],voting='hard')

for clf, label in zip([clf1, clf2, clf3, eclf], ['KNN', 'DT', 'SVM', 'Ensemble']):
  scores = cross_val_score(clf, x, y, scoring='accuracy', cv=10)
  print("Accuracy: %0.4f (+/- %0.4f) [%s]" % (scores.mean(), scores.std(), label))

Accuracy: 0.9276 (+/- 0.1431) [KNN]
Accuracy: 0.9259 (+/- 0.1425) [DT]
Accuracy: 0.9261 (+/- 0.1426) [SVM]
Accuracy: 0.9263 (+/- 0.1427) [Ensemble]